@import 'tailwindcss';

:root {
  --font-family: 'Inter', sans-serif;
  --color-main: hsl(72, 10.64%, 9.22%);
  --color-accent: hsl(222.27 100% 60.2%);
  --color-bg-main: hsl(0, 0%, 98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 16px;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
  font-family: var(--font-family);
  background-color: var(--color-bg-main);
  color: var(--color-main);
}

button {
  cursor: pointer;
}
