@import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --font-body: 'Inter', sans-serif;
  --color-main: hsl(72, 10.64%, 9.22%);
  --color-accent: hsl(222.27 100% 60.2%);
  --color-bg-main: hsl(0, 0%, 98%);
}

* {
  @apply transition-all duration-300;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  font-family: var(--font-family);
  background-color: var(--color-bg-main);
  color: var(--color-main);
}

button {
  cursor: pointer;
}
